body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.button {
    font-size: 14px;
    color: white;

    text-align: center;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    outline: none;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.list-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

/*--------------header--------------------------------------------------------------------------------*/

.main-header {
    display: flex;
    flex-direction: column;
}

.header-navigation {
    display: flex;
    max-height: 42px;

    background-color: #293449;
}

.header-navigation-list {
    position: relative;
    display: flex;
}

.header-navigation-list a {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
}

.header-navigation-list .header-logo {
    width: 220px;
    height: 42px;
    padding: 0;

    background-color: #ee3643;
    border-bottom: 5px solid #c02c36;
}

.header-logo img {
    padding-top: 12px;
}

.header-logo img{
    margin-bottom: 11px;
    margin-left: 55px;
    margin-left: 56px;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
    border-color: #a3232d;
}

.logo:active {
    background-color: #ba2732;
    border-color: #8f1f27;
}

.bookmark,
.cart,
.place-order {
    position: relative;
}

.bookmark {
    width: 105px;
    padding-left: 45px;
}

.cart {
    width: 100px;
    padding-left: 50px;
}

.header-navigation-list .search {
    position: relative;
    width: 222px;

    padding-left: 48px;
}

.search svg {
    width: 17px;
    height: 17px;

    position: absolute;
    left: 17px;
    top: 12px;

    opacity: 0.5;
}

.bookmark::before {
    content: "";

    width: 14px;
    height: 16px;

    position: absolute;
    left: 17px;
    top: 12px;

    background-image: url(img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.bookmark:hover::before,
.bookmark:focus::before {
    opacity: 1;
}

.cart::before {
    content: "";

    width: 15px;
    height: 15px;

    position: absolute;
    left: 18px;
    top: 12px;

    background-image: url(img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.cart:hover::before,
.cart:focus::before {
    opacity: 1;
}

.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus,
.search:hover,
.search:focus {
    background-color: #212a3a;
}

.goods-cart {
    background-color: #ee3643;
}

.search:hover svg,
.search:focus svg {
    opacity: 1;
}

.search:active path {
    fill: #ee3643;
}

.search:active {
    background-color: white;
    color: black;
}

.bookmark:active,
.cart:active {
    background-color: #161d29;
    opacity: 0.5;
}

.header-catalog-cart {
    background-color: #ee3643;
    width: 150px;
}

.header-catalog-cart:focus,
.header-catalog-cart:hover {
    background-color: #ca2c37;
}

.header-catalog-cart:active {
    background-color: #ba2732;
}

.place-order {
    width: 150px;
    text-align: center;

    background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
    background-color: #5fbb2d;
}

.place-order:active {
    background-color: #518534;
    opacity: 0.5;
}

/*--------------average-header-container---------------------------------*/

.average-header-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f7f9;
}

.main-information {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 52px;
    margin-bottom: 58px;
    margin-top: 46px;
}

.site-description,
.header-contacts {
    flex-grow: 1;
}

.site-description {
    display: block;
    margin: 0;

    margin-top: 3px;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.header-contacts {
    padding-left: 21px;
}

.button-phone {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-left: 23px;

    width: 241px;
    height: 29px;

    text-align: center;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: solid 3px #ffffff;
}

.button-phone::before {
    content: "";
    width: 18px;
    height: 19px;

    position: absolute;
    left: 13px;
    top: 10px;

    background-image: url(img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-adres {
    display: block;
    width: 270px;
    margin: 0;

    text-align: center;
    margin-top: 4px;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation {
    display: flex;
    width: 280px;
    justify-content: space-between;

    padding-left: 19px;
}

.user-button {
    display: block;
    min-height: 25px;

    padding: 10px 0;

    font-size: 21px;
    color: #000000;

    background-color: #ffffff;
}

.enter {
    position: relative;
    width: 75px;
    padding-left: 46px;
}

.enter::before {
    content: "";
    width: 20px;
    height: 17px;

    position: absolute;
    left: 13px;
    top: 14px;

    background-image: url(img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
}

.registration {
    width: 150px;
    text-align: center;
}

.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.user-navigation a:active,
.user-name-button:active {
    color: black;
    opacity: 0.5;
}

.user-button-container {
    flex-direction: column;
    position: relative;
}

.user-name-button {
    width: 253px;
    padding-left: 47px;
}

.user-name-button::before {
    content: "";

    width: 20px;
    height: 18px;

    position: absolute;
    top: 13px;
    left: 13px;

    background-image: url(img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
}

.deauthorization::after {
    content: "";

    width: 20px;
    height: 17px;

    position: absolute;
    top: 14px;
    right: 10px;

    background-image: url(img/icon-logout.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
}

.enter:hover::before,
.user-name-button:hover::before,
.deauthorization:hover::after {
    opacity: 1;
}

.user-capabilities {
    display: flex;
    margin-top: 5px;
    margin-left: 18px;
}

.orders-link {
    position: relative;
    margin-right: 31px;
}

.orders-link::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -18px;

    width: 4px;
    height: 4px;

    background-color: #32425c;
    border-radius: 50%;
}

.user-capabilities a {
    font-size: 16px;
    text-decoration: underline;
    color: #32425c;
}

.user-capabilities a:hover,
.user-capabilities a:focus {
    color: #ee3643;
}

.user-capabilities a:active {
    color: #32425c;
    opacity: 0.5;
}

.main-navigation-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 82px;

    justify-content: space-between;
}

.main-navigation-list a {
    flex-grow: 1;
    padding-top: 18px;
    padding-bottom: 17px;

    background-color: #32425c;
    border-bottom: 5px solid #2b374d;
}

.main-navigation-list .home-item {
    padding-left: 52px;
    padding-right: 34px;
}

.main-navigation-list .company-item {
    padding-left: 31px;
    padding-right: 31px;
}

.main-navigation-list .catalog-item-navigation {
    padding-left: 29px;
    padding-right: 29.5px;
}

.main-navigation-list .news-item {
    padding-left: 29px;
    padding-right: 29px;
}

.main-navigation-list .special-item {
    padding-left: 31px;
    padding-right: 31px;
}

.main-navigation-list .delivery-item {
    padding-left: 31px;
    padding-right: 31px;
}

.main-navigation-list .contacts-item {
    padding-left: 29px;
    padding-right: 55px;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
    background-color: #293449;
}

.main-navigation-list a:active {
    color: #a9a9a9;
    background-color: #1d2739;
    border-color: #1d2739;
}

/*----------------main---interactive-navigation---------------------------------------------------------------------*/

.interactive-navigation {
    margin-top: 59px;
    margin-bottom: 53px;
}

.interactive-list-products {
    display: flex;
    justify-content: space-between;
}

.interactive-section {
    width: 300px;
    height: 123px;
}

.title-interactive-section {
    display: block;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 18px;
    margin-left: 23px;


    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
}

.interactive-section-button {
    display: block;
    width: 135;
    height: 25px;

    text-align: center;
    padding-top: 12px;
    margin-left: 25px;
    margin-right: 140px;

    text-transform: uppercase;
    font-size: 14px;

    border-radius: 3px;
}

.interactive-section-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.interactive-section-tehnics .interactive-section-button,
.interactive-section-sales .interactive-section-button,
.interactive-section-delivery .interactive-section-button {
    margin-left: 23px;
    margin-right: 142px;
}

/*--------slader---------------------------------*/
.slaider {
    position: relative;
}

.slaider-menu {
    overflow: hidden;
}

.slaider-slaiders {
    width: 200%;
}

.slaider-slaiders .slaider-inner {
    float: left;
    width: 620px;
    height: 266px;
}

.slaider-inner {
    position: relative;
}

.slaider-inner .slaider-description {
    position: absolute;
    left: 24px;
}

.slaider-description h3 {
    display: block;
    margin: 0;
    margin-top: 24px;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slaider-description p {
    display: block;
    margin: 0;
    /* margin-top: 3px; */

    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

.slaider-drel img {
    background-color: #584e44;
    width: 620px;
    height: 266px;
}

.slaider-perforator img {
    background-color: #ccbba7;
    width: 620px;
    height: 266px;
}

.arrow-slider::after {
    content: "";
    width: 22px;
    height: 40px;

    position: absolute;
    top: 114px;
    left: 25px;

    background-image: url("img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.arrow-slider::before {
    content: "";
    width: 22px;
    height: 40px;

    position: absolute;
    top: 114px;
    right: 20px;

    background-image: url("img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.radio {
    position: absolute;
    top: 215px;
    left: 296px;
}

.radio label {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 7px;

    vertical-align: middle;

    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#switch-left:checked ~ .radio label[for="switch-left"],
#switch-right:checked ~ .radio label[for="switch-right"] {
    background-color: #ee3643;
}

#switch-right:checked ~ .slaider-menu .slaider-slaiders {
    transform: translate(620px);
}

.slaider-button {
    position: absolute;
    outline: none;
}

.slaider a {
    top: 206px;
    left: 25px;

    width: 195px;
    height: 27px;

    padding-top: 11px;
}

.button-open-catalog {
    line-height: 18px;
}

/*----------end-of-slaider------------*/

.interactive-list-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interactive-list-service li {
    width: 300px;
    height: 123px;
}

.interactive-section-material,
.interactive-section-delivery {
    position: relative;
    background-color: #ffbf47;
}

.interactive-section-instrument {
    position: relative;
    background-color: #3bbce3;
}

.interactive-section-tehnics {
    position: relative;
    background-color: #dc91d8;
}

.interactive-section-sales {
    position: relative;
    background-color: #8ed78f;
}

.interactive-section-material::before {
    content: "";

    position: absolute;
    width: 44px;
    height: 65px;

    left: 213px;
    top: 31px;

    background-image: url(img/icon-material.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.interactive-section-instrument::before {
    content: "";

    position: absolute;
    width: 75px;
    height: 61px;

    left: 197px;
    top: 33px;

    background-image: url(img/icon-insrument.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.interactive-section-tehnics::before {
    content: "";

    position: absolute;
    width: 78px;
    height: 62px;

    left: 191px;
    top: 31px;

    background-image: url(img/icon-technics.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.interactive-section-sales::before {
    content: "";

    position: absolute;
    width: 59px;
    height: 72px;

    left: 196px;
    top: 26px;

    background-image: url(img/icon-sales.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.interactive-section-delivery::before {
    content: "";

    position: absolute;
    width: 78px;
    height: 63px;

    left: 191px;
    top: 32px;

    background-image: url(img/icon-delivery.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.interactive-list a {
    background-color: rgba(1,1,1,0.1);
}

.interactive-list a:hover,
.interactive-list a:focus {
    background-color: rgba(1,1,1,0.2);
}

.interactive-list a:active {
    background-color: rgba(1,1,1,0.3)
}

.interactive-section-slaider {
    display: flex;
    position: relative;
    max-width: 620px;
    max-height: 266px;
    background-color: teal;
}

/*--------------popular-product-------------------------*/

.list-popular-product {
    margin: auto;
    margin-top: 20px;
}

.content-title-section {
    display: flex;
    height: 89px;
    justify-content: space-between;
    align-items: center;

    background-color: #f9f5f0;
}

.content-title-section h2 {
    margin-left: 30px;

    font-size: 30px;
    text-transform: uppercase;
    color:#32425c;
}

.content-title-section button{
    margin-right: 24px;
    width: 253px;

    height: 38px;
}

.list-popular-product .catalog-item:nth-child(4n) {
    margin-right: 0px;
}

/*-----------------------------popular-brands-----------------------------*/

.list-popular-brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 65px;
}

.list-popular-brands a{
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.list-popular-brands li {
    width: 216px;
    height: 143px;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
}

.list-popular-brands li:hover,
.list-popular-brands li:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.list-popular-brands li:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

/*------------------------------main-service-section--------------------------------------------*/

.main-service-section {
    background-color: #f4f8f9;
    height: 522px;
}

.support-title {
    padding-top: 38px;
    width: 400px;
    margin-bottom: 66px;
}

.support-title h2{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}

.main-service-section p {
    font-size: 13px;
    font-family: "PT Sans", "Arial" sans-serif;
    color: black;
    /* font-weight: bold; */
    line-height: 24px;
}

.service-list-container {
    display: flex;
}

.service-list {
    position: relative;
    width: 240px;
    margin-right: 80px;
}

.service-list button {
    font-weight: bold;
    width: 240px;
    height: 63px;
    color: white;
    font-size: 21px;
    text-align: start;
    padding-left: 22px;

    border: none;
    background-color: #32425c;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #757a81;
}

.service-list button:hover,
.service-list button:focus {
    background-color: #293449;
    outline: none;
}

.service-list button:active {
    background-color: white;
    color: #32425c;
    box-shadow: none;
    outline: none;
}

.service-list::before {
    content: "";
    width: 10px;
    height: 272px;

    position: absolute;
    right: 0;
    top: -38px;

    background-image: url(img/shadow-line.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-description-section {
    flex-grow: 1;
    margin-bottom: 10px;
}

.service-description-section li {
    height: 284px;
}

.service-description-section h3 {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: -3px;

    font-size: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.service-description-section p {
    display: block;
    margin-top: 23px;
}

.delivery,
.garantee,
.credit {
    position: relative;
}

.garantee,
.credit {
    display: none;
}

.delivery::before {
    content: "";
    width: 468px;
    height: 261px;

    position: absolute;
    top: 28px;
    right: 0;

    background-image: url(img/service-delivery.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.garantee::before {
    content: "";
    width: 389px;
    height: 283px;

    position: absolute;
    top: 6px;
    right: 0;

    background-image: url(img/service-garant.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.credit::before {
    content: "";
    width: 465px;
    height: 285px;

    position: absolute;
    right: 0;

    background-image: url(img/service-credit.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.credit a {
    display: block;
    margin-top: 29px;
    width: 192px;
    padding: 12px;
    background-color: #ff5357;
}

/*-------------company-description----main-contacts-------------------------*/

.about-company-columns {
    display: flex;
    justify-content: space-between;
    max-height: 368px;
    margin-bottom: 89px;
    margin-top: 80px;

    color: black;
    font-size: 13px;
    line-height: 24px;
}

.main-contacts {
    width: 300px;
    margin-left: 100px;
}

.about-company-columns h2 {
    font-size: 30px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

.company-description p,
.main-contacts p {
    font-family: "PT Sans", "Arial" sans-serif;
    line-height: 24px;
    font-weight: bold;
}

.company-description .slogan {
    display: block;
    width: 522px;
    margin-bottom: 25px;
}

.company-description .deliveries {
    display: block;
    width: 390px;
    margin-bottom: 21px;
}

.list-carriers {
    padding-left: 35px;
    margin-bottom: 35px;
}

.list-carriers li {
    margin-bottom: 20px;

    position: relative;

    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.list-carriers li::after {
    content: "";
    width: 25px;
    height: 2px;

    position: absolute;
    left: -36px;
    top: 10px;

    background-color: #ee3643;
}

.company-description a {
    display: inline-block;
    width: 220px;

    padding-top: 9px;
    padding-bottom: 6px;

}

.main-contacts div {
    margin-top: 30px;
    margin-bottom: 33px;
}

.contacts-form-button {
    min-height: 38px;
    width: 100%;
}

.form-button {
    color: #ffffff;
    border: none;
}

/*------------main-catalog---breadcrumbs--------------------------------------------------*/

.breadcrumbs {
    display: flex;
    align-items: center;
    height: 59px;
    margin-bottom: -20px;
}
.breadcrumbs a {
    position: relative;
    padding-right: 40px;
}

.breadcrumbs .home {
    display: inline-block;
    width: 14px;
    height: 12px;
}

.breadcrumbs .home::after {
    content: "";
    width: 14px;
    height: 12px;

    position: absolute;
    top: 2px;
    left: -2px;

    background-image: url(img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs .breadcrumbs-item::after,
.breadcrumbs .breadcrumbs-item::before {
    content: "";
    width: 2px;
    height: 9px;

    position: absolute;
    left: -21px;
    top: 8px;

    background-color: #cfd3d9;
}

.breadcrumbs .breadcrumbs-item::after {
    transform: rotate(45deg);
}

.breadcrumbs .breadcrumbs-item::before {
    transform: rotate(-45deg);
    top: 2px;
}

/*-----------------------catalog-title----filters---------------*/

.catalog-title-section {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color:#32425c;

    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f2f6f8;
}

.filters-title-container {
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin: 20px 0px;
}

.filter,
.catalog-sort {
    background-color: #f7f3ec;
    border-radius: 3px;
    padding-left: 18px;
}

.filter h2,
.catalog-sort h2,
.breadcrumbs a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: black;
    text-transform: uppercase;
}

.filters-title-container .filter {
    width: 202px;
}

.catalog-sort {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.list-sort {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 3px;
    margin-left: 10px;
}

.list-sort a {
    margin-left: 75px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    border-bottom: 1px dotted #ee3643;
}

.list-sort a:hover,
.list-sort a:focus {
    color: black;
    border-bottom: 1px solid #ee3643;
}

.list-sort a:active {
    color: #ee3643;
}

.sorting-arrows {
    display: flex;
    width: 60px;

    margin-top: 9px;
}

.sorting-arrows .descending {
    margin-right: 21px;
}

.sorting-arrows polyline,
.sorting-arrows polygon {
    fill: rgba(0, 0, 0, 0.3);
}

.sorting-arrows a:hover polyline,
.sorting-arrows a:hover polygon,
.sorting-arrows a:focus polyline,
.sorting-arrows a:focus polygon {
    fill: rgba(0, 0, 0, 1);
}

.sorting-arrows a:active polyline,
.sorting-arrows a:active polygon {
    fill: #ee3643;
}


.catalog-container {
    display: flex;
    margin-bottom: 60px;
}

.catalog-filter {
    min-width: 220px;
}

.price-values {
    width: 95px;
}

.form-filter fieldset {
    border: none;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
  }

.form-filter legend {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.form-filter ul {
    list-style: none;
    line-height: 40px;
}

.form-filter input {
    opacity: 0.5;
}

.form-filter input:hover,
.form-filter input:focus {
    opacity: 0.7;
}

.filter-input:disabled + label {
    color: #000000;

    opacity: 0.3;
  }

.form-filter button {
    background-color: white;
    border: 2px solid #eaeaea;
}

.list-catalog-button {
    display: flex;
    justify-content: space-between;
    width: 284px;
}

.list-catalog-button li {
    width: 34px;
    height: 34px;
}

.list-catalog-button li:last-child {
    width: 140px;
}

.catalog-button {
    font-family: "PT Sans", "Arial", sans-serif;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.catalog-button:hover,
.catalog-button:focus {
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.catalog-button:active {
    border: 2px solid rgba(238,54,67,1);
}

.selected-button {
    background-color: #ee3643;
    border: 2px solid rgba(238,54,67,1);
}

/*------------------------catalog------------------------------------------*/

.catalog-list {
    width: 700px;
    /* margin: 20px auto; */
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;

    font-family: "Open Sans", "Arial" sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -0.4px;
    text-align: center;
    color: black;

    border: 1px solid #ccc;
}

.catalog-list .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-list,
.list-popular-product {
    font-size: 0;
}

.catalog-item {
    font-size: 16px;
}

.catalog-item .flag,
.interactive-section-material .flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new,
.interactive-section-material .flag {
    background: url("img/new-flag.png") no-repeat 0 0;
}

.interactive-section-material .flag {
    position: absolute;
    top: 0;
    right: 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.catalog-item .actions .button-buy,
.catalog-item .actions .button-bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;

    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-item .actions .button-bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item .image {
    max-width: 218px;
    height: 168px;
}

.catalog-item .image img {
    max-width: 100%;
}

.catalog-item .title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.catalog-item .discount {
    min-height: 20px;

    margin-bottom: 10px;

    color: #999;
    text-decoration: line-through;
}

.catalog-item .price {
    position: relative;
    width: 80px;
    margin-left: 42px;
    margin-right: 35px;
    margin-bottom: 20px;

    padding: 9px 31px;

    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.catalog-item .price:after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-list .catalog-item:nth-child(3) .image {
    opacity: 0;
}

.catalog-list .catalog-item:nth-child(3) .actions {
    display: block;
}

/*-----------------perforetor-description------------------------------------------*/

.perforators-description-section {
    display: flex;
    align-items: center;
    background-color: #f2f6f8;
    height: 261px;
}

.perforator-description {
    padding: 0px;
}

.perforator-description-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color:#32425c;
}

.perforator-description p {
    font-size: 13px;
    line-height: 20px;
    color: black;
}

/*--------------footer----------------------------------------------------------------------------------*/

.main-footer {
    display: flex;
    flex-direction: column;
}

.footer-navigation-pane {
    background-color: #32425c;
    font-size: 18px;
}

.footer-navigation-pane .container {
    margin-bottom: 34px;
}

.footer-navigation-service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer-navigation-product {
    display: flex;
    justify-content: space-between;
}

.footer-adres {
    max-width: 323px;
}


.footer-logo {
    background-color: #ee3643;
    border-bottom: 5px solid #c02c36;
    width: 220px;
    height: 43px;
    padding-top: 20px;

    text-align: center;
}

.footer-conteiner-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.navigation-service-list {
    display: flex;
    justify-content: space-between;
    width: 547px;
    align-items: flex-end;

    padding-bottom: 9px;
}

.navigation-service-list a,
.footer-navigation-product p{
    color: #f3f7f9;
}

.footer-adres {
    margin-top: -13px;
    margin-left: 3px;

    font-size: 18px;
    line-height: 22px;
}

.navigation-product-list {
    display: flex;
    justify-content: space-between;
    width: 524px;
    margin-top: 5px;
}

.navigation-product-list a,
.footer-copyright a {
    color: #ffda96;
}

.navigation-service-list a:hover,
.navigation-service-list a:focus,
.navigation-product-list a:hover,
.navigation-product-list a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    text-decoration: underline;
}

.navigation-service-list a:active,
.navigation-service-list a:active,
.navigation-product-list a:active,
.navigation-product-list a:active {
    opacity: 0.5;
}

.footer-copyright a:active,
.footer-copyright a:active {
    color: #ee3643;
}

.footer-contacts {
    background-color: #293449;
    font-size: 16px;
    height: 107px;
}

.footer-company-copyright {
    margin-top: 22px;
}

.social-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;

    margin-top: 23px;
    margin-left: 60px;
}

.social-list a {
    position: relative;
    padding: 11px 20px;

    background-color: #212a3a;
    border-radius: 50%;
}

.social-list a:hover,
.social-list a:focus {
    background-color: #ee3643;
}

.social-list .vkontakte::after {
    content: "";
    width: 26px;
    height: 15px;

    position: absolute;
    top: 12px;
    left: 7px;

    background-image: url(img/vk-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-list .facebook::after {
    content: "";
    width: 12px;
    height: 22px;

    position: absolute;
    top: 10px;
    left: 14px;

    background-image: url(img/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-list .instagram::after {
    content: "";
    width: 21px;
    height: 21px;

    position: absolute;
    top: 10px;
    left: 10px;

    background-image: url(img/insta-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-copyright {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.footer-copyright div:first-child {
    margin-top: 17px;
    margin-left: 15px;
}

.footer-copyright div:last-child {
    margin-top: 17px;
    margin-left: 52px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/*-----------------popups---user-form-------------------------------------------------------------*/

.user-form {
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;

    width: 460px;
    margin-left: -310px;
    padding-left: 80px;
    padding-right: 80px;

    font-size: 18px;
    line-height: 18px;
    color: black;

    border-top: 7px solid #ff5357;
    background: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 21px;
    height: 21px;

    border: 0;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.modal-close::after,
.modal-close::before {
    content: "";
    width: 4px;
    height: 24px;

    position: absolute;
    top: -2px;
    left: 9px;


    background-color: #ff5357;
}

.modal-close::after {
    transform: rotate(45deg);
}

.modal-close::before {
    transform: rotate(-45deg);
}

.user-form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 460px;

    margin-top: 25px;
}

.user-form label {
    display: block;
    padding-bottom: 11px;
}

.user-form input,
.user-form textarea {
    padding-left: 14px;
    border-width: 2px;
    border-color:rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    outline: none;

    font-family: "PT Sans", "Arial" sans-serif;
    font-size: 13px;
}

.user-form input:hover,
.user-form textarea:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

.user-form input:focus,
.user-form textarea:focus {
    border-color: rgb(238, 54, 67, 1);
}

.you-name,
.you-email {
    max-width: 220px;
}

.you-name input,
.you-email input {
    width: 202px;
    height: 32px;
}

.mail-text {
    margin: 0;
    margin-bottom: 37px;
}

.mail-text textarea {
    resize: none;

    padding-top: 10px;
    width: 440px;
    height: 100px;
}

.user-form .submit-button {
    height: 112px;
    width: 620px;
    margin-left: -80px;
    margin-right: -80px;
    background-color: #f4f4f4;
}

.submit-button button {
    width: 460px;
    margin: 37px 80px;
    padding: 12px 0;
}

.big-map {
    display: none;
    position: fixed;
    top: 80px;
    left: 50%;

    width: 940px;
    height: 446px;
    margin-left: -470px;
    padding: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.big-map img {
    width: 940px;
    height: 446px;
    padding: 0;
}
